.dashboard {
	height: 100%;
	border-radius: 20px;
	background-image:url(./bg2.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	/* background-color: #08212C; */
	border-width: 2px;
	border-style: solid;
	border-color: #FB1075;
	overflow: hidden;
	object-fit: cover;
}




.bg-image{
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
  }

.left-panel {
	background-color: #08212C;
	margin: 0;
	border-width: 2px;
	border-color :#00ACE5;
	height: 100vh;
	width: 20vw;   
}

.right-panel {
	background-color: #08212C;
	margin: 0;
	border-width: 2px;
	border-color :#00ACE5;
	height: 100vh;
	width: 20vw;   
}


  .col-2 {
	margin-left: 0 !important;
	margin-right: 0 !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
  }


.top-widget {
	/* margin-right: 2px; */
	border-width:1px;
	border-color: #00ACE5;
	border-style: solid;
	height: 25vh;
}
.mid-1widget {
	border-width:1px;
	border-color: #00ACE5;
	border-style: solid;
	height: 25vh;
}
.mid-2widget {
	border-width:1px;
	border-color: #00ACE5;
	border-style: solid;
	height: 25vh;
}
.bottom-widget {
	border-width:1px;
	border-color: #00ACE5;
	border-style: solid;
	height: 25vh;
}

.central-image {
	border-radius: 20px;
	height: 100vh;
	/* width: 70vh; */
	border-color: #00ACE5;
	border-width: 7px;
	border-style: solid;
	object-fit: cover;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.bot-img {
	object-fit: cover;
	height: 10vh;
}
