{% load static %}
<!DOCTYPE html>
<html>
    <head>

        <title>Laws</title>

	<script>

		let state = { view: "", section: "" };
		
		function fetch_view(view, type)
		{
			if (type === "page")
			{
                		fetch(view)
                		.then(response => response.text())
				.then(html => 
				{
					document.body.innerHTML = html;
				});
			}
			else
			{
                		fetch(view)
                		.then(response => response.text())
                		.then(text => 
				{
					document.querySelector('#content').innerHTML = text;
				});
			}
		}

		function showSection(section)
		{
			fetch_view(`/sections/${section}`, "text");
			state.view = "/sections/";
			state.section = section;
			window.history.pushState(state, null, "");
            	}

		function f_law0()
		{
			fetch_view("/law0/", "page");
			state.view = "/law0/";
			window.history.pushState(state, null, "");
		}

		window.addEventListener('load', function()
		{
			window.history.replaceState({view: "", section: ""}, null, "");
		});

		window.addEventListener('popstate', function(event)
		{
			console.log(event.state);
			if (event.state.view === "/law0/")
				fetch_view("/law0/", "page");
			else 
				fetch_view("", "page");
			if (event.state.view === "/sections/")
				fetch_view(`/sections/${event.state.section}`, "text");
		});

        </script>
    </head>
    <body>

	    <h1 style="margin-left: auto;
		   margin-right: auto;
		   width: 6em;
		   text-align: center;
		   font-size: 4em;"
		   >LAWS</h1>

	    <div style="display: flex;
		 justify-content: center">

		    <button style="font-size: 2em;
			    margin: 1em"
			    onclick="showSection(1)"
			    >LAW 1</button>

		    <button style="font-size: 2em;
			    margin: 1em"
			    onclick="showSection(2)"
			    >LAW 2</button>

		    <button style="font-size: 2em;
			    margin: 1em"
			    onclick="showSection(3)"
			    >LAW 3</button>
	    </div>

	    <div id="content" style="font-size: 3em;
		     justify-content: center;
		     text-align: center;
		     display:flex"
		     ></div>

	    <div style="display: flex;
			font-size: 10px;
			margin-top: 20em;
		 	justify-content: center"
			onclick="f_law0()">LAW 0</div>
    </body>
</html>
