{% load static %}
<!DOCTYPE html>
<html>
    <head>

        <title>Laws</title>

	<script>

		let state = { view: "", section: "" };

		function showSection(section)
		{
			fetch(`/sections/${section}`)
                	.then(response => response.text())
                	.then(text =>
			{
				console.log(text);
				document.querySelector('#content').innerHTML = text;
				state.view = "/sections/";
				state.section = section;
				window.history.pushState(state, null, "");
                	});
            	}

		function f_law0()
		{
                	fetch("/law0/")
                	.then(response => response.text())
			.then(html => 
			{
			        document.body.innerHTML = html;
				state.view = "/law0/";
				window.history.pushState(state, null, "");
			});
		}

		window.addEventListener('load', function()
		{
			window.history.replaceState(state, null, "");
		});

		window.addEventListener('popstate', function(event)
		{
			if (event.state.view === "/law0/")
			{
                		fetch("/law0/")
                		.then(response => response.text())
				.then(html => 
				{
			        	document.body.innerHTML = html;
				});
			}
			else 
			{
				fetch("")
                		.then(response => response.text())
				.then(html => 
				{
			        	document.body.innerHTML = html;
				});
				if (event.state.view === "/sections/")
				{
					fetch(`/sections/${event.state.section}`)
                			.then(response => response.text())
                			.then(text =>
					{
						console.log(text);
						document.querySelector('#content').innerHTML = text;
					});
				}
			}
		});

        </script>
    </head>
    <body>

	    <h1 style="margin-left: auto;
		   margin-right: auto;
		   width: 6em;
		   text-align: center;
		   font-size: 4em;"
		   >LAWS</h1>

	    <div style="display: flex;
		 justify-content: center">

		    <button style="font-size: 2em;
			    margin: 1em"
			    onclick="showSection(1)"
			    >LAW 1</button>

		    <button style="font-size: 2em;
			    margin: 1em"
			    onclick="showSection(2)"
			    >LAW 2</button>

		    <button style="font-size: 2em;
			    margin: 1em"
			    onclick="showSection(3)"
			    >LAW 3</button>
	    </div>

	    <div id="content" style="font-size: 3em;
		     justify-content: center;
		     text-align: center;
		     display:flex"
		     ></div>

	    <div style="display: flex;
			font-size: 10px;
			margin-top: 20em;
		 	justify-content: center"
			onclick="f_law0()">LAW 0</div>
    </body>
</html>
