{% load static %}
<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
<html>
    <head>
        <title>Law 0</title>
    </head>
    <body>

        <h1 style="margin-left: auto;
		   margin-right: auto;
		   width: 6em;
		   text-align: center;
		   font-size: 4em;"
		   >LAW 0</h1>

        <div style="font-size: 3em;
		    justify-content: center;
		    text-align: center;
	     	    display:flex"
		    >A robot may not harm humanity, or, by inaction, allow humanity to come to harm</div>

    </body>
</html>
